@{
    ViewData["Title"] = "Home Page";
}

<h1>All Pokemon:</h1>

<ol>
@foreach (Pokemon pokemon in Model)
{
    <ul>
        <li>Pokemon Id: @pokemon.PokemonId </li>
        <li>National Pokedex Number: @pokemon.NationalPokedexNumber </li>
        <li>Pokemon Name: @pokemon.PokemonName </li>
        <li>Primary Type: @pokemon.PrimaryType </li>
        <li>Secondary Type: @pokemon.SecondaryType </li>
        <li>Evolves From: @pokemon.EvolvesFrom </li>
        <li>Evolves To: @pokemon.EvolvesTo </li>
        <li>Details: @pokemon.Details </li>

    </ul>
    <br>
}
</ol>